<app-top-bar></app-top-bar>
<div class="container" id="form-signup-div">

  <form class="form-signin text-center">

    <div class="text-center">
      <i class="fas fa-envelope loginlogo"></i>
      <h1 class="h3 mb-3 font-weight-normal">Teacher sign-up</h1>
    </div>

    <div class="mb-3">
      <label class="sr-only" for="inputEmail">Email address</label>
      <input #mail="ngModel" [(ngModel)]="user.mail" aria-describedby="emailHelp" class="form-control" id="inputEmail"
             name="mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Enter email" required type="email">
      <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
    </div>

    <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
      Mail is not valid
    </div>

    <div class="mb-3">
      <label class="sr-only" for="inputName">Name</label>
      <input #nome="ngModel" [(ngModel)]="user.name" class="form-control" id="inputName" name="nome" placeholder="Enter name"
             required type="text">
    </div>

    <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
      Name is required
    </div>

    <div class="mb-3">
      <label class="sr-only" for="inputSurname">Surname</label>
      <input #cognome="ngModel" [(ngModel)]="user.surname" class="form-control" id="inputSurname" name="surname"
             placeholder="Enter surname" required type="text">
    </div>

    <div [hidden]="cognome.valid || cognome.pristine" class="alert alert-danger">
      Surname is required
    </div>

    <div class="mb-3">
      <label class="sr-only" for="inputBirthdate">Birthdate</label>
      <input #data_nascita="ngModel" [(ngModel)]="user.birthdate" class="form-control" id="inputBirthdate" name="birthdate"
             placeholder="Enter birthdate (gg/mm/yyyy)" required type="text">
    </div>

    <div [hidden]="data_nascita.valid || data_nascita.pristine" class="alert alert-danger">
      Birthdate is required
    </div>

    <div class="mb-3">
      <label class="form-label" for="genderSelect">Gender</label>
      <select #gender="ngModel" [(ngModel)]="user.gender" class="form-select" id="genderSelect" name="gender" required>
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option [value]="null">Other</option>
      </select>
    </div>

    <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
      Gender is required
    </div>

    <div *ngIf="errmessage" class="alert alert-danger" role="alert">
      Login error: {{errmessage}}
    </div>

    <button (click)="signup();" [disabled]="!mail.valid || !nome.valid || !cognome.valid || !data_nascita.valid || !gender.valid"
            class="btn btn-lg btn-primary btn-block"
            type="button">
      Sign up
    </button>

    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</div>
