<h4 mat-dialog-title>Application settings</h4>
<div mat-dialog-content>
  <form *ngIf="settings">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>student active enrolment limit</mat-label>
      <input [(ngModel)]="settings.studentInscriptionsLimit" [value]="settings.studentInscriptionsLimit" matInput name="regisration_limit"
             placeholder="Enter limit..." type="number">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Courses per teacher limit</mat-label>
      <input [(ngModel)]="settings.teacherCoursesLimit" [value]="settings.teacherCoursesLimit" matInput name="course_per_teacher_limit"
             placeholder="Enter limit..." type="number">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Minimum attendance percentage</mat-label>
      <input [(ngModel)]="settings.minimumAttendancePercentage" [value]="settings.minimumAttendancePercentage" matInput max="100"
             min="0" name="presenza_minima" placeholder="Enter limit..." type="number">
    </mat-form-field>

    <button (click)="updateSettings()" class="btn btn-outline-success" type="button">Save</button>
  </form>
</div>
