<app-top-bar></app-top-bar>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="mt-3">Filter by</h3>
      <form class="mt-4" id="searchForm">
        <div class="input-group">
          <input [(ngModel)]="search_title" aria-describedby="button-search" aria-label="Search" class="form-control"
                 name="search_title" placeholder="Search title" type="search">
          <button (click)="filter()" class="btn btn-outline-danger" id="button-search" title="Search"
                  type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <h5 class="mt-2">Scheduling:</h5>
        <mat-radio-group [(ngModel)]="scheduled" aria-label="Select an option" name="scheduled">
          <mat-radio-button value="1">Scheduled</mat-radio-button>
          <br>
          <mat-radio-button [value]="null">All</mat-radio-button>
        </mat-radio-group>
        <h5 class="mt-2">Language:</h5>
        <mat-radio-group [(ngModel)]="language" aria-label="Select an option" name="language">
          <mat-radio-button value="eng">English</mat-radio-button>
          <br>
          <mat-radio-button value="it">Italian</mat-radio-button>
          <br>
          <mat-radio-button value="fren">French</mat-radio-button>
          <br>
          <mat-radio-button [value]="null">All</mat-radio-button>
          <br>
        </mat-radio-group>
        <button (click)="filter()" class="btn btn-outline-danger mt-3 mb-3" type="button">Filter</button>
      </form>
    </div>

    <div class="col-sm-8" id="courses">
      <h3 class="mt-3">Courses</h3>
      <mat-paginator (page)="onPageChange($event)" [length]="count" [pageSizeOptions]="[5, 10, 25]" [pageSize]="limit">
      </mat-paginator>
      <app-course-card *ngFor="let course of courses" [card]="false" [course]="course"></app-course-card>
    </div>
  </div>
</div>
