<mat-expansion-panel (opened)="loadReplies()" class="mt-2">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ question?.userId?.name + ' ' + question?.userId?.surname }}
    </mat-panel-title>
    <mat-panel-description>
      {{ question?.timestamp | date:'EEEE, d MMMM y' }}
      - {{ question?.likes?.length + ' likes' }} {{ question?.isClosed ? '- closed' : '' }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p class="mb-1"><b>Question:</b></p>
  <p>{{ question?.text }}</p>
  <p *ngIf="replies.length > 0" class="mb-1"><b>Answers:</b></p>
  <p *ngFor="let reply of replies">{{ reply.userId.name + ' ' + reply.userId.name + ': ' + reply.text }}</p>
  <div class="text-center">
    <button (click)="chiudiDomanda()" *ngIf="canAnswer() && !question?.isClosed" class="btn btn-warning m-1"
            type="button">
      Close question
    </button>
    <button (click)="addLikeDomanda()" *ngIf="isLogged() && !alreadyLiked()" class="btn btn-danger m-1" type="button">
      Add like
    </button>
  </div>
  <div *ngIf="canAnswer()" class="row mt-2">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Reply</mat-label>
      <textarea [(ngModel)]="answer_text" matInput name="answare_text" placeholder="Text..."></textarea>
    </mat-form-field>
    <button (click)="postAnsware()" class="btn btn-outline-danger" type="button">Post</button>
  </div>
</mat-expansion-panel>
